*{
    margin: 0px;
    padding: 0px;
    background-color:  #0F172A;
    color:  #E2E8F0;
}

header{
    display: flex;
    /* flex-direction: row; */
    gap: 20px;
    background: linear-gradient(90deg, #2563EB, #9333EA);
    color: #F9FAFB;
    height: 50px; 
    display: flex;
    align-items: center;
    gap: 50px;
    justify-content: space-evenly;
    /* background-color: rgba(15, 23, 42, 0.6); /* semi-transparent dark */
    /* backdrop-filter: blur(10px);  */
}
ul{
    display: flex;
    gap: 20px;
    list-style: none;
    flex-direction: row;
    align-items: center;
    /* justify-content: right; */
}
.container{
    background-color: blue;
    color: white;
    padding: 20px;
    margin-top: 40px;
}